<p id="notice"><%= notice %></p>

<h1>Acccounts</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>String</th>
      <th>Account type</th>
      <th>String</th>
      <th>Open date</th>
      <th>Date</th>
      <th>Customer</th>
      <th>String</th>
      <th>Customer name</th>
      <th>Branch</th>
      <th>String</th>
      <th>Minor indicator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acccounts.each do |acccount| %>
      <tr>
        <td><%= acccount.account_id %></td>
        <td><%= acccount.string %></td>
        <td><%= acccount.account_type %></td>
        <td><%= acccount.string %></td>
        <td><%= acccount.open_date %></td>
        <td><%= acccount.date %></td>
        <td><%= acccount.customer_id %></td>
        <td><%= acccount.string %></td>
        <td><%= acccount.customer_name %></td>
        <td><%= acccount.branch %></td>
        <td><%= acccount.string %></td>
        <td><%= acccount.minor_indicator %></td>
        <td><%= link_to 'Show', acccount %></td>
        <td><%= link_to 'Edit', edit_acccount_path(acccount) %></td>
        <td><%= link_to 'Destroy', acccount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acccount', new_acccount_path %>
