<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @acccount.account_id %>
</p>

<p>
  <strong>String:</strong>
  <%= @acccount.string %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @acccount.account_type %>
</p>

<p>
  <strong>String:</strong>
  <%= @acccount.string %>
</p>

<p>
  <strong>Open date:</strong>
  <%= @acccount.open_date %>
</p>

<p>
  <strong>Date:</strong>
  <%= @acccount.date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @acccount.customer_id %>
</p>

<p>
  <strong>String:</strong>
  <%= @acccount.string %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @acccount.customer_name %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @acccount.branch %>
</p>

<p>
  <strong>String:</strong>
  <%= @acccount.string %>
</p>

<p>
  <strong>Minor indicator:</strong>
  <%= @acccount.minor_indicator %>
</p>

<%= link_to 'Edit', edit_acccount_path(@acccount) %> |
<%= link_to 'Back', acccounts_path %>
